@font-face {
  font-family: 'Raleway';
  src: url('/assets/fonts/raleway_thin-webfont.ttf')  format('truetype');
}

.example-container {
  padding: 3%;
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;

}

.example-container > * {
  width: 50%;
}

.example-container form {

  margin: 0 auto;
}

.example-container form > * {
  margin: 5px 0;
}

.example-container .mat-radio-button {
  margin: 0 5px;
}

.example-full-width {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  width: 100%;
}

.alert {
  text-align: center;
  padding: 10px;
  background: #79c879;
  color: #fff;
  margin-bottom: 10px;
  display: none;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.flex-equal > * {
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
}

@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
  }
}

.send-button{
  background-color:	#41495C;
  color: #fff;
}

.g-recaptcha {
  width: auto;
}

.overflow-hidden {
  overflow: hidden;
}

#map-container{
  height: 50vh;
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  background-color: grey;
}

img.front {
  width: 100%;
  height: auto;
}

.address{
  margin-top: 20px;
  text-align: left;
}

.cta {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: rgba(230, 167, 86, .9)
}

.cta .cta-inner {
  position: relative;
  padding: 3rem;
  margin: .5rem;
  background-color: rgba(255, 255, 255, .85)
}

.cta .cta-inner:before {
  border-radius: .5rem;
  content: '';
  position: absolute;
  top: -.5rem;
  bottom: -.5rem;
  left: -.5rem;
  right: -.5rem;
  border: .25rem solid rgba(255, 255, 255, .85)
}

/* @media (min-width:992px) {
  .about-heading .about-heading-img {
      position: relative;
      z-index: 0
  }
  .about-heading .about-heading-content {
      margin-top: -5rem;
      position: relative;
      z-index: 1
  }
}

@media (min-width:992px) {
  .product-item .product-item-title {
      position: relative;
      z-index: 1;
      margin-bottom: -3rem
  }
  .product-item .product-item-img {
      position: relative;
      z-index: 0;
      max-width: 60vw
  }
  .product-item .product-item-description {
      position: relative;
      z-index: 1;
      margin-top: -3rem;
      max-width: 50vw
  }
} */

.list-hours {
  font-size: .9rem
}

.list-hours .list-hours-item {
  border-bottom: 1px solid rgba(159, 159, 159, 0.5);
  padding-bottom: .25rem;
  margin-bottom: 1rem;
  font-style: italic
}

.list-hours .list-hours-item.today {
  font-weight: 700;
  color: #e6a756
}



.address strong {
  font-size: 1.2rem
}

