
<div class ="container">
    <section *ngIf="_router.url.includes('homeware')" class="cta" style="background-image: url(/assets/img/bottles.jpg);">
      <div class="cta-content">
          <div class="masthead">
          <div class="container">
              <!-- <div class="intro-text">
                <div class="intro-lead-in animated fadeIn">
                  <p>Homeware</p>
                </div>
                <div class="intro-heading text-uppercase animated fadeIn">It's Nice To Meet You</div>
              </div> -->
            </div>
            </div>
        </div>
       
    </section>
    <section *ngIf="_router.url.includes('landing')" class="cta" style="background-image: url(/assets/img/insidecafe.jpg);">
      <div class="cta-content">
          <div class="masthead">
          <div class="container">
              <!-- <div class="intro-text">
                <div class="intro-lead-in animated fadeIn">
                  <p>Home</p>
                </div>
                <div class="intro-heading text-uppercase animated fadeIn">It's Nice To Meet You</div>
              </div> -->
            </div>
            </div>
        </div>
     
    </section>
    <section *ngIf="_router.url.includes('furniture')" class="cta" style="background-image: url(/assets/img/drawer.jpg);">
      <div class="cta-content">
          <div class="masthead">
          <div class="container">
              <!-- <div class="intro-text">
                <div class="intro-lead-in animated fadeIn">
                  <p>Furniture</p>
                </div>
                <div class="intro-heading text-uppercase animated fadeIn">It's Nice To Meet You</div>
              </div> -->
            </div>
            </div>
        </div>
     
    </section>
    <section *ngIf="_router.url.includes('contact')" class="cta" style="background-image: url(/assets/img/outsidecafe.jpg);">
      <div class="cta-content">
          <div class="masthead">
          <div class="container">
              <!-- <div class="intro-text">
                <div class="intro-lead-in animated fadeIn">
                  <p>Furniture</p>
                </div>
                <div class="intro-heading text-uppercase animated fadeIn">It's Nice To Meet You</div>
              </div> -->
            </div>
            </div>
        </div>
    
    </section>
    <section *ngIf="_router.url.includes('menu')" class="cta" style="background-image: url(/assets/img/cake.jpg);">
      <div class="cta-content">
          <div class="masthead">
          <div class="container">
              <!-- <div class="intro-text">
                <div class="intro-lead-in animated fadeIn">
                  <p>Furniture</p>
                </div>
                <div class="intro-heading text-uppercase animated fadeIn">It's Nice To Meet You</div>
              </div> -->
            </div>
            </div>
        </div>
     
    </section>
    <section *ngIf="_router.url.includes('suppliers')" class="cta" style="background-image: url(/assets/img/drawer.jpg);">
      <div class="cta-content">
          <div class="masthead">
          <div class="container">
              <!-- <div class="intro-text">
                <div class="intro-lead-in animated fadeIn">
                  <p>Furniture</p>
                </div>
                <div class="intro-heading text-uppercase animated fadeIn">It's Nice To Meet You</div>
              </div> -->
            </div>
            </div>
        </div>
     
    </section>
    </div>
