
  <!-- <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <a href="" class="typewrite display-4 font-weight-normal" data-period="2000"
       data-type='[ "Cafe", "Furniture", "Homeware" ]'>
      <span class="wrap"></span>
    </a>
  </div>
  <div class="product-device box-shadow d-none d-md-block"></div>
  <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
</div>  -->

<div class ="container">
<section *ngIf="_router.url.includes('homeware')" class="cta" style="background-image: url(/assets/img/homeware.jpg);">
  <div class="cta-content">
      <div class="masthead">
      <div class="container">
          <!-- <div class="intro-text">
            <div class="intro-lead-in animated fadeIn">
              <p>Homeware</p>
            </div>
            <div class="intro-heading text-uppercase animated fadeIn">It's Nice To Meet You</div>
          </div> -->
        </div>
        </div>
    </div>
  <div class="overlay"></div>
</section>
<section *ngIf="_router.url.includes('landing')" class="cta" style="background-image: url(/assets/img/cafephoto.jpg);">
  <div class="cta-content">
      <div class="masthead">
      <div class="container">
          <!-- <div class="intro-text">
            <div class="intro-lead-in animated fadeIn">
              <p>Home</p>
            </div>
            <div class="intro-heading text-uppercase animated fadeIn">It's Nice To Meet You</div>
          </div> -->
        </div>
        </div>
    </div>
  <div class="overlay"></div>
</section>
<section *ngIf="_router.url.includes('furniture')" class="cta" style="background-image: url(/assets/img/chair.jpeg);">
  <div class="cta-content">
      <div class="masthead">
      <div class="container">
          <!-- <div class="intro-text">
            <div class="intro-lead-in animated fadeIn">
              <p>Furniture</p>
            </div>
            <div class="intro-heading text-uppercase animated fadeIn">It's Nice To Meet You</div>
          </div> -->
        </div>
        </div>
    </div>
  <div class="overlay"></div>
</section>
</div>

