 <div class="container" id="footer">
        <div class="row">
          <div class="col-md-4">
            <span class="copyright">Tea and Sympathy &copy; JJ Solutions</span>
          </div>
          <div class="col-md-4">
            <ul class="list-inline social-buttons">
              <li class="list-inline-item instagram">
                <a href="https://www.instagram.com/explore/locations/279384049139651/tea-sympathy-edinburgh/?hl=en">
                  <i class="fab fa-instagram"></i>
                </a>
              </li>
              <li class="list-inline-item facebook">
                <a href="https://www.facebook.com/Tea-Sympathy-Edinburgh-279384049139651/">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="list-inline quicklinks">
              <li class="list-inline-item">
                <a routerLink = "/contact" style = "color: black;">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </div>