@font-face {
  font-family: 'Raleway';
  src: url('/assets/fonts/raleway_thin-webfont.ttf') format('truetype');
}

.navbar {
  background-color: #041027c1;
  overflow: hidden;
  height: 10vh;
}

.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #30394c;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 1s;
}

.side-nav a {
  padding: 10px 10px 10px 30px;
  text-decoration: none;
  font-size: 22px;
  color: #ccc;
  display: block;
  transition: 0.3s;
  font-family: 'Raleway', sans-serif;
}

.side-nav img {
  margin-top: 300px;
  margin-left: 80px;
  margin-right: 20px;
  margin-bottom: 20px;
  text-decoration: none;
  font-size: 22px;
  color: #ccc;
  display: block;
  transition: 0.3s;
}

.side-nav a:hover {
  color: #fff;
}

.side-nav .btn-close {
  position: absolute;
  top: 0;
  right: 22px;
  font-size: 36px;
  margin-left: 50px;
}

.typewrite {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
}

li{
  list-style-type: none;
}
