#nav {
    background: transparent; 
    display: block;
    position: fixed;
    width: 100%;
    z-index: 99999;
    transition: all ease .5s;
  }
  
  
  #nav.shrink {
    height: 70px;
    transition: all ease .5s;
    background: #475665;
  }
  
  #nav.shrink #logo {
    padding: 10px;
    transition: all ease .5s;
  }

  #mainNav {
    background-color: #22384e;
    /* height: 70px; */
}

#mainNav .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: #fff;
    border: 0;
    background-color: #fed136;
    font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif
}

#mainNav .navbar-brand {
    color: #fed136;
    font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
    background-image:url('/assets/img/logocream2.png');
}

#mainNav .navbar-brand.active,
#mainNav .navbar-brand:active,
#mainNav .navbar-brand:focus,
#mainNav .navbar-brand:hover {
    color: #fec503
}

#mainNav .navbar-nav .nav-item .nav-link {
    font-size: 90%;
    font-weight: 400;
    padding: .75em 0;
    letter-spacing: 1px;
    color: #fff;
<<<<<<< HEAD
    font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif
}

#mainNav .navbar-nav .nav-item .nav-link.active,
#mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #fed136
}

@media (min-width:992px) {
    #mainNav {
        padding-top: 10px;
        padding-bottom: 25px;
        -webkit-transition: padding-top .3s, padding-bottom .3s;
        -moz-transition: padding-top .3s, padding-bottom .3s;
        transition: padding-top .3s, padding-bottom .3s;
        border: none;
        background-color: transparent
    }
    #mainNav .navbar-brand {
        font-size: 1.75em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s
    }
    #mainNav .navbar-nav .nav-item .nav-link {
        padding: 1.1em 1em!important
    }
    #mainNav.navbar-shrink {
        padding-top: 0;
        padding-bottom: 0;
        background-color: #212529
    }
    #mainNav.navbar-shrink .navbar-brand {
        font-size: 1.25em;
        padding: 12px 0
    }
}
=======
    background: 0 0
}

#sidebar-wrapper.active {
    right: 250px;
    width: 250px;
    -webkit-transition: all .4s ease 0s;
    -moz-transition: all .4s ease 0s;
    -ms-transition: all .4s ease 0s;
    -o-transition: all .4s ease 0s;
    transition: all .4s ease 0s
}

.menu-toggle {
    position: fixed;
    right: 15px;
    top: 15px;
    width: 50px;
    height: 50px;
    text-align: center;
    color: #fff;
    background: rgba(52, 58, 64, .5);
    line-height: 50px;
    z-index: 999
}

.menu-toggle:focus,
.menu-toggle:hover {
    color: #fff
}

.menu-toggle:hover {
    background: #343a40
}

.navbar {
  background-color: #18253cc1;
  overflow: hidden;
  height: 10vh;
}

.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #30394c;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 1s;
}

.side-nav a {
  padding: 10px 10px 10px 30px;
  text-decoration: none;
  font-size: 22px;
  color: #ccc;
  display: block;
  transition: 0.3s;
  font-family: 'Raleway', sans-serif;
}

.side-nav img {
  margin-top: 300px;
  margin-left: 80px;
  margin-right: 20px;
  margin-bottom: 20px;
  text-decoration: none;
  font-size: 22px;
  color: #ccc;
  display: block;
  transition: 0.3s;
}

.side-nav a:hover {
  color: #fff;
}

.side-nav .btn-close {
  position: absolute;
  top: 0;
  right: 22px;
  font-size: 36px;
  margin-left: 50px;
}

.typewrite {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
}

li{
  list-style-type: none;
}
<<<<<<< HEAD
>>>>>>> b433c1e70d88696d040de55d4bd150378543392e
=======
>>>>>>> b433c1e70d88696d040de55d4bd150378543392e
