<a class="menu-toggle rounded" href="#">
    <i class="fa fa-bars"></i>
  </a>
  <nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a class="js-scroll-trigger" href="#page-top"></a>
      </li>
      <li class="sidebar-nav-item" >
       <a  data-toggle="collapse" data-target="#collapsibleNavbar" href = "">
          Cafe
          </a>
        </li>
          <div class="collapse navbar-collapse" id="collapsibleNavbar">
             <ul class="navbar-nav">
                <li class="sidebar-nav-item">
                   <a class="nav-link" routerLink ="/cafe/menu" style = "margin-left:15px">Menu</a>
                </li>
                <li class="sidebar-nav-item">
                   <a class="nav-link" routerLink ="/cafe/suppliers" style = "margin-left:15px">Supliers</a>
                </li>
                </ul>
          </div>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger " routerLink ="/furniture">Furniture</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" routerLink ="/homeware">Homeware</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger"routerLink ="/contact">Contact</a>
      </li>
    </ul>
  </nav>
