<nav class="navbar  navbar-light">
  <a class="navbar-brand" href="/"> <img src="/assets/img/logo.png" width="100" height="50" class="d-inline-block align-top" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link"></a> <!-- dummy for spacing -->
          </li>
      <li class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle" routerLink="/cafe" id="navbardrop" data-toggle="dropdown">
          Cafe
        </a>
        <div class="dropdown-menu bg-light">
          <a class="dropdown-item" routerLink="/cafe/menu">Menu</a>
          <a class="dropdown-item" routerLink="/cafe/suppliers">Suppliers</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/furniture">Furniture</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/homeware">Homeware</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>





<!-- "navbar-expand-md"  this add this into top nav bar tag class and it will only show burger wehn screen becomes small -->
