<!-- <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <a href="" class="typewrite display-4 font-weight-normal" data-period="2000"
       data-type='[ "Cafe", "Furniture", "Homeware" ]'>
      <span class="wrap"></span>
    </a>
  </div>
  <div class="product-device box-shadow d-none d-md-block"></div>
  <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
</div> -->


<section class="cta">
    <div class="cta-content">
        <div class="masthead">
        <div class="container">
            <div class="intro-text">
              <div class="intro-lead-in">Welcome To Our Studio!</div>
              <div class="intro-heading text-uppercase">It's Nice To Meet You</div>
            </div>
          </div>
          </div>
      </div>
    <div class="overlay"></div>
  </section>