<mat-tab-group>
  <mat-tab label="Buy from us">
    <main>
      <a title="Post 1" *ngFor="let furnitureItem of furnitureItems">
        <article>
          <p>{{ furnitureItem.fields.title }}</p>
          <figure>
            <img *ngFor="let photo of furnitureItem.fields.photos" src="{{ photo.fields.file.url }}"
                 (click)="onClicked()">
            <figcaption>{{ furnitureItem.fields.description }}</figcaption>
          </figure>
        </article>
      </a>
    </main>
  </mat-tab>
  <mat-tab label="Upcycle your shit">Content 2</mat-tab>
  <mat-tab label="Let us find and upcycle 4 you">Content 2</mat-tab>
</mat-tab-group>


