<mat-tab-group>
  <mat-tab label="Buy from us">
    <main>
      <a title="Post 1" *ngFor="let furnitureItem of furnitureItems">
        <article>

          <figure>
            <img src="{{ furnitureItem.fields.photos[0].fields.file.url }}">
            <figcaption>{{ furnitureItem.fields.description}}</figcaption>
            <figcaption>{{ furnitureItem.fields.price}}</figcaption>
          </figure>

          <button (click)="onCardClicked(furnitureItem)">View details</button>

        </article>
      </a>
    </main>
  </mat-tab>
  <mat-tab label="Upcycle yours">
    <a mat-raised-button routerLink="/contact" style="margin: 20px;">Contact us</a>
  </mat-tab>
  <mat-tab label="Let us find & upcycle for you">
    <a mat-raised-button routerLink="/contact" style="margin: 20px;">Contact us</a>
  </mat-tab>
</mat-tab-group>


