<p *ngIf="homewareItem">
    <mat-card class="product-card">
      <mat-card-header>
        <mat-card-title>{{ homewareItem.fields.title }}</mat-card-title>
        <mat-card-subtitle> colour tag in here| <strong>Price: {{homewareItem.fields.price}} $</strong></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-tab-group>
          <mat-tab *ngIf="homewareItem.fields.photos" label="Image">
            <div class="tab-container">
              <img class="u-marginAutoHorizontal" src="{{ homewareItem.fields.photos[0].fields.file.url }}">
              <p>{{ homewareItem.fields.description }}</p>
            </div>
          </mat-tab>
          <mat-tab label="Description">
            <div class="tab-container">
              <p>{{ homewareItem.fields.title  }}</p>
              <p>SKU: {{ homewareItem.fields.title }}</p>
            </div>
          </mat-tab>
          <mat-tab *ngIf="homewareItem.fields.photos" label="Image">
              <div class="tab-container">
                <img class="u-marginAutoHorizontal" src="{{ homewareItem.fields.photos[0].fields.file.url }}">
                <p>{{ homewareItem.fields.description }}</p>
              </div>
            </mat-tab>
            <mat-tab label="Description">
              <div class="tab-container">
                <p>{{ homewareItem.fields.title  }}</p>
                <p>SKU: {{ homewareItem.fields.title }}</p>
              </div>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </p>
  