<div class="container-fluid">
  <div class="row justify-content-md-left">
    <div class="col-lg-3 col-md-4 col-sm-6 col-12" *ngFor="let homewareItem of homewareItems">
      <mat-card>
        <mat-card-title>{{ homewareItem.fields.title }}</mat-card-title>
        <img mat-card-image src="{{ homewareItem.fields.photos[0].fields.file.url }}">
        <mat-card-content>
          <p>
            {{ homewareItem.fields.description }}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
