<section class="page-section">
    <div class="container">
      <div class="product-item">
        <div class="product-item-title d-flex">
          <div class="bg-faded p-5 d-flex ml-auto">
            <h2 class="section-heading mb-0">
                <span class="section-heading-upper">Freshly Baked, Never Frozen & Made By Hand</span>
                <span class="section-heading-lower">Grace &amp; Co.</span>
            </h2>
          </div>
        </div>
        <img class="product-item-img mx-auto d-flex img-fluid mb-3 mb-lg-0" src="assets/img/gandco.jpg" alt="">
        <div class="product-item-description d-flex mr-auto">
          <div class="bg-faded p-5 rounded">
            <p class="mb-0">"Grace & Co. is an Edinburgh based bakery dedicated to using fresh, local and seasonal produce. We bake seven days a week for cafès, eateries and celebrations around the city.
                We are constantly striving to create new flavours and are dedicated to never freezing anything, ever, because it tastes better that way."</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section">
    <div class="container">
      <div class="product-item">
        <div class="product-item-title d-flex">
          <div class="bg-faded p-5 d-flex mr-auto rounded">
            <h2 class="section-heading mb-0">
              <span class="section-heading-upper">Homemade cakes from the heart of Edinburgh</span>
              <span class="section-heading-lower">Suki&amp; Bakes</span>
            </h2>
          </div>
        </div>
        <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="assets/img/sukibakes.png" alt="">
        <div class="product-item-description d-flex ml-auto">
          <div class="bg-faded p-5 rounded">
            <p class="mb-0">"Drop us a line if you'd like to be one of the amazing eateries that carries our brownies, cookies and other cakes. We could also be convinced to create custom orders of delectable treats for parties or a particularly dull Monday!"</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section">
    <div class="container">
      <div class="product-item">
        <div class="product-item-title d-flex">
          <div class="bg-faded p-5 d-flex ml-auto rounded">
            <h2 class="section-heading mb-0">
              <span class="section-heading-upper">An award winning craft bakery & patisserie</span>
              <span class="section-heading-lower">The Manna House</span>
            </h2>
          </div>
        </div>
        <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="assets/img/mannahoose.jpg" alt="">
        <div class="product-item-description d-flex mr-auto">
          <div class="bg-faded p-5 rounded">
            <p class="mb-0">Cant find anyting about Manna house yet.</p>
          </div>
        </div>
      </div>
    </div>
  </section>