@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.css";

/* gets bootstrap for npm module */

.bg{
  height: 95vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }

  /* body {
    overflow-x: hidden;
  } */

  #slide-main{
    transition:margin-left 1s;
    overflow:hidden;
    width:100%;
  }

  /* slide-main moves compontnet to the right when nav bar opens */


