@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.css";

/* gets bootstrap for npm module */

/*@font-face {
  font-family: 'Raleway';
  src: url('/assets/fonts/raleway_thin-webfont.ttf') format('truetype');
}*/

button.mat-menu-item {
  line-height: 24px !important;
}
a.mat-menu-item > mat-icon {
  margin-bottom: 14px;
}

.mat-icon{
  font-size:24px;
}

.bg {
  height: 95vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* body {
  overflow-x: hidden;
} */

#slide-main {
  transition: margin-left 1s;
  overflow: hidden;
  width: 100%;
}

/*div {
  font-family: 'Raleway', sans-serif;
}*/

/* slide-main moves compontnet to the right when nav bar opens */


