.card-header{

    border: 0cm;
}


#heading {

    text-align: center;
    background-color: rgba(255, 255, 255, 0);

}
.container {

    width: 90%;
    margin: 1em auto;
    
    padding: .3em .6em;
    
  }
  #item-header{

    text-align: left;
    margin-left: 10px;
}

  #description-header {

    text-align: center;
}


  #price-header {

    text-align: right;
    margin-right: 10px;
}

#item{

    text-align: left;
    margin-left: 10px;
}

  #description {

    text-align: center;
}


  #price {

    text-align: right;
    margin-right: 10px;
}
