<div id="accordion">
    <div class="card" id ="card-format">
        <div class="card-header" id="heading">
            <h1 class="mb-0"><p aria-controls="collapseOne" aria-expanded="false" class="btn" data-target="#collapseOne" data-toggle="collapse">Drink</p></h1>
        </div>
        <div aria-labelledby="headingOne" class="collapse show" data-parent="#accordion" id="collapseOne">
            <div class="card-body">
                <div class="container">
                    <div class="row">
                      <div class="col" id ="item-header">
                        Item
                      </div>
                      <div class="col" id ="description-header">
                        Description
                      </div>
                      <div class="col" id ="price-header">
                       Price
                      </div>
                    </div>
                    <hr >
                    <div class="row">
                        <div class="col" id ="item">
                          Latte
                        </div>
                        <div class="col" id ="description">
                          Milky coffe with two shots!
                        </div>
                        <div class="col" id ="price">
                         £1.50
                        </div>
                      </div>
                      <hr >
                      <div class="row">
                          <div class="col" id ="item">
                            Single-Espresso
                          </div>
                          <div class="col" id ="description">
                            One shot of our delicious coffe
                          </div>
                          <div class="col" id ="price">
                           £1.50
                          </div>
                        </div>
                        <hr >
                        <div class="row">
                            <div class="col" id ="item">
                              Latte
                            </div>
                            <div class="col" id ="description">
                              Milky Coffee Withh Two Shots
                            </div>
                            <div class="col" id ="price">
                             £1.50
                            </div>
                          </div>
                          <hr >
                  </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="heading">
            <h1 class="mb-0"><p aria-controls="collapseTwo" aria-expanded="false" class="btn collapsed" data-parent="ture" data-target="#collapseTwo" data-toggle="collapse">Food</p></h1>
        </div>
        <div aria-labelledby="headingTwo" class="collapse" data-parent="#accordion" id="collapseTwo">
            <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col" id ="item-header">
                              Item
                            </div>
                            <div class="col" id ="description-header">
                              Description
                            </div>
                            <div class="col" id ="price-header">
                             Price
                            </div>
                          </div>
                          <hr >
                          <div class="row">
                              <div class="col" id ="item">
                                Latte
                              </div>
                              <div class="col" id ="description">
                                Milky coffe with two shots!
                              </div>
                              <div class="col" id ="price">
                               £1.50
                              </div>
                            </div>
                            <hr >
                            <div class="row">
                                <div class="col" id ="item">
                                  Single-Espresso
                                </div>
                                <div class="col" id ="description">
                                  One shot of our delicious coffe
                                </div>
                                <div class="col" id ="price">
                                 £1.50
                                </div>
                              </div>
                              <hr >
                              <div class="row">
                                  <div class="col" id ="item">
                                    Latte
                                  </div>
                                  <div class="col" id ="description">
                                    Milky Coffee Withh Two Shots
                                  </div>
                                  <div class="col" id ="price">
                                   £1.50
                                  </div>
                                </div>
                                <hr >
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="heading">
            <h1 class="mb-0"><p aria-controls="collapseThree" aria-expanded="false" class="btn collapsed" data-parent="ture" data-target="#collapseThree" data-toggle="collapse">Bakery</p></h1>
        </div>
        <div aria-labelledby="headingThree" class="collapse" data-parent="#accordion" id="collapseThree">
            <div class="card-body">
                <div class="row">
                    <div class="col" id ="item-header">
                      Item
                    </div>
                    <div class="col" id ="description-header">
                      Description
                    </div>
                    <div class="col" id ="price-header">
                     Price
                    </div>
                  </div>
                  <hr >
                  <div class="row">
                      <div class="col" id ="item">
                        Latte
                      </div>
                      <div class="col" id ="description">
                        Milky coffe with two shots!
                      </div>
                      <div class="col" id ="price">
                       £1.50
                      </div>
                    </div>
                    <hr >
                    <div class="row">
                        <div class="col" id ="item">
                          Single-Espresso
                        </div>
                        <div class="col" id ="description">
                          One shot of our delicious coffe
                        </div>
                        <div class="col" id ="price">
                         £1.50
                        </div>
                      </div>
                      <hr >
                      <div class="row">
                          <div class="col" id ="item">
                            Latte
                          </div>
                          <div class="col" id ="description">
                            Milky Coffee Withh Two Shots
                          </div>
                          <div class="col" id ="price">
                           £1.50
                          </div>
                        </div>
                        <hr >
            </div>
        </div>